<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="../library/jquery-3.7.1.min.js"></script>
  
  <style>
  	body {
  		display:flex; 
  		flex-direction:column; 
  		min-height: 100vh;
  	}
  	
  	.negative-index {
  		z-index: -999;
  	}
  	
  	.center-h-screen {
  		min-height: 75vh;
  	}
  </style>
  
  <script>
  	$(document).ready(function() {

  	});
  </script>
</head>

<body>

<!-- OPEN HEADER -->
<nav class="bg-gray-800">
  <div class="max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <a href="/" class="flex flex-shrink-0 items-center">
          <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
        </a>
        
      </div>
    </div>
  </div>

</nav>
<!-- CLOSE HEADER -->

<!-- OPEN MAIN -->
<section style="flex:1;" class="flex items-center justify-center">
    <div id="login-modal" class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full max-w-lg">
      <div class="bg-slate-50 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
         <div class="mt-3 mb-3 text-center sm:ml-4 sm:mt-0">
         
           <h3 class="text-xl text-center font-semibold leading-6 text-gray-900" id="modal-title">로그인</h3>
           <div class="mt-2">
             <p class="text-center text-sm text-gray-500">로그인을 선택하세요.</p>
           </div>
           
           <div class="mt-3 flex">
		     <a href="/oauth2/authorization/google" class="btn mx-auto bg-white text-white font-bold py-2 px-10 rounded inline-flex items-center shadow-md hover:bg-slate-200">
			   <img src="/image/logo/google_logo.png" class="fill-current w-8 h-8 mr-2"/>
			   <span class="text-slate-600">구글 로그인&nbsp;&nbsp;&nbsp;</span>
			 </a>
           </div>
           
           <div class="mt-3 flex">
		     <a href="/oauth2/authorization/naver" class="btn mx-auto bg-white text-white font-bold py-2 px-10 rounded inline-flex items-center shadow-md hover:bg-slate-200">
		       <img src="/image/logo/naver_logo.png" class="fill-current w-8 h-8 mr-2"/>
		       <span class="text-slate-600">네이버 로그인</span>
		     </a>
           </div>
           
         </div>
      </div>
    </div>
</section>
<!-- CLOSE MAIN -->

<!-- OPEN FOOTER -->
<footer class="shadow bg-gray-800" style="flex-shrink: 0;">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 billina. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
      </li>
      <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
      </li>
      <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
      </li>
      <li>
          <a href="#" class="hover:underline">Contact</a>
      </li>
  </ul>
  </div>
</footer>
<!-- CLOSE FOOTER -->


</body>
</html>